[submodule ".registry"]
	path = .registry
	url = https://github.com/ccs-amsterdam/ccs-amsterdam.r-universe.dev
	branch = HEAD
[submodule "amcat4r"]
	path = amcat4r
	url = https://github.com/ccs-amsterdam/amcat4r
